$HeaderFontFamily: 'Muli', sans-serif;
$PrimaryColor: #006400;
$SecondaryColor: #FF9C2A;
$MiscColors-1: #006400;
$MiscColors-2: #3949AB;
$MiscColors-3: #050F2C; 
$MiscColors-4: #ff9c2a;
$BodyFontColor: #333333;
$SubtitleFontColor: #757575;
$MainFontFamily: 'Noto Sans', sans-serif;
